# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 96b27481e65d492eb25b8325c2640afd3637b712f1ef3fa3830bf8c981b7974060169720850f3e156418ac05a77fe792141dcf0dd422a531c7387c9fb79c2155

test:
  secret_key_base: df5a26b72bca7e2174a35741ffaa4189bf71fdca8280621d7459fe8708c2d54965d21f928cb656c5d14012aa6ea8ba1e0608bee7d85b086b991032787418e861

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
